/Dane historyczne dla Kontrakty terminowe na miedź (1).csv
/Dane historyczne dla Kontrakty terminowe na miedź.csv
/Natural Gas Futures Historical Data (1).csv
/Natural Gas Futures Historical Data.csv
/^ndx_d.csv
/chfpln_d.csv
/eurpln_d.csv
/gbppln_d.csv
/ice_d.csv
/usdpln_d.csv
/xauusd_d.csv
/cb.f.csv
