/XAU_USD.csv
/XAU_USD.csv
/XAU_USD.csv
/USD_PLN.csv
/USD_PLN.csv
/USD_PLN.csv
/NDX.csv
/NDX.csv
/NDX.csv
/CHF_PLN.csv
/CHF_PLN.csv
/CHF_PLN.csv
/EUR_PLN.csv
/EUR_PLN.csv
/EUR_PLN.csv
/GBP_PLN.csv
/GBP_PLN.csv
/GBP_PLN.csv
/GAS\#1.csv
/GAS\#1.csv
/GAS\#1.csv
/GAS\#2.csv
/GAS\#2.csv
/GAS\#2.csv
/MIEDZ\#2.csv
/MIEDZ\#2.csv
/MIEDZ\#2.csv
/MIEDZ\#1.csv
/MIEDZ\#1.csv
/MIEDZ\#1.csv
/ICE.csv
/ICE.csv
/ICE.csv
